[project]
	description = Github webhook Ruby wrapper
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ivan Malykh (ivdma)
[access "refs/for/refs/*"]
	read = group user/Ivan Malykh (ivdma)
	push = group user/Ivan Malykh (ivdma)
	label-Code-Review = -2..+2 group user/Ivan Malykh (ivdma)
	label-Verified = -1..+1 group user/Ivan Malykh (ivdma)
	rebase = group user/Ivan Malykh (ivdma)
	removeReviewer = group user/Ivan Malykh (ivdma)
	submit = group user/Ivan Malykh (ivdma)
[access "refs/heads/*"]
	read = group user/Ivan Malykh (ivdma)
	create = group user/Ivan Malykh (ivdma)
	push = +force group user/Ivan Malykh (ivdma)
	pushMerge = group user/Ivan Malykh (ivdma)
[access "refs/tags/*"]
	push = +force group user/Ivan Malykh (ivdma)
	pushTag = group user/Ivan Malykh (ivdma)
	pushSignedTag = group user/Ivan Malykh (ivdma)
